<html>
    <head>
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2}
    </style>
    </head>
    <body>

    <h2>Apcera Resources</h2>   <table border = "1" cellpadding = "5" cellspacing = "5"> <thead>
                  <tr>
                  <th>Realm</th>
                  <th>Type</th>
                  <th>Namespace</th>
                  <th>Name</th>
                </tr>
                </thead>
                <tbody><tr><td>job</td><td>capsule</td><td>/sandbox/dwilliams</td><td>test2</td></tr> </tbody> </table>